.user__list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.card__user {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  border: 1px solid #cad0d2;
  border-radius: 4px;
  overflow: hidden;
  align-items: center;
  width: 150px;
  height: 200px;
  margin-bottom: 16px;
  background-color: #f7f7f7;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card__user:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  width: 100px;
  margin-bottom: 16px;
}

.username {
  font-size: 14px;
  color: #198754;
  margin-bottom: 8px;
}

.fullname {
  font-size: 16px;
  color: black;
  font-weight: bold;
  margin-bottom: 8px;
}

.email {
  color: #636869;
}

.search__form {
  text-align: center;
  margin-bottom: 3rem;
}
.search__input {
  padding: 8px 10px;
  border-radius: 4px;
  outline: none;
  line-height: 22px;
  border: 1px solid #000000;
}

#not__found {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .user__list {
    justify-content: center;
  }
  .card__user {
    max-width: 200px;
    margin-bottom: 1rem;
  }
}
